body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8d99ae;
  color: #fff;
}
input {
  height: 1.5rem;
  width: 400px;
  border: none;
  text-indent: 5px;
  border-radius: 2px;
}
button {
  height: 2rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
input:focus {
  outline: none;
}
#create {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
